.header__title {
  max-width: 730px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  margin-left: 64px;
  line-height: 92px;
  font-size: 102px;
  font-weight: bolder;
  z-index: 2;
}
